# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code
.vscode/

# My doc
doc/specifications

# Glade
*.glade~

# Assets build from a template
assets/welcome.html
assets/modules.html