.verse-number {
    float: left;
    width: 1em;
    margin-left: -1.5em;
    text-align: right;
}

.content-row {
    display: block;
    width: 100%;
}

.content-col {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

#content sup {
    color: #f00;
}

#content .em {
    background-color: #84adff45;
}

#content h2 {
    margin-bottom: 0.5em;
    color: rgb(84, 84, 84);
}

#content p {
    margin: 0 -1em;
    padding: 0 1em 3px 1em;
}

#content w:hover {
    color: darkorange;
    cursor: pointer;
}

#content .selected {
    color: rgb(230, 128, 4);
}

[lang="hbo"] {
    font-family: 'Frank Ruhl Libre';
    font-size: 1.5em;
}