body {
    max-width: 35em;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: #815d32;
}

a:hover, a:visited {
    color: #b88447;
}

h1 {
    border-bottom: solid 1px;
}

h2 {
    text-align: center;
    color: #2274A5;
}

h3 {
    color: #26403A;
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    font-size: 12px;
    text-align: justify;
    line-height: 1.6em;
}

header {
    font-style: italic;
}

header p {
    text-align: center;
}

nav summary {
    color: rgb(84, 84, 84);
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.paragraph_number {
    color: red;
}