body {
    margin: 1em 3em;
    color: rgb(42, 42, 42);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header img, header h1 {
    display: inline-block;
    margin: 0;
}

h1 small {
    display: block;
    font-style: italic;
    font-size: 0.6em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(84, 84, 84);
}

.center {
    text-align: center;
}

.QA dt {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.QA dd {
    font-style: italic;
}

.warning {
    background-color: rgb(214, 140, 140);
    padding: 1em;
}

.warning::before {
    content: '⚠️ ';
}

#logbook {
    font-size: 0.8em;
}

#logbook > ul > li {
    margin: 0.5em 0;
}

#logbook li {
    margin: 0.2em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(42, 42, 42);
  }

th, td {
    padding: 0.5em;
}

.center {
    text-align: center;
}