<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/default.css" type="text/css">
        <link rel="stylesheet" href="theke:/bible.css" type="text/css">

        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ mod_name }}</h1>
        <p>{{ mod_description }}</p>
        <bdi><p>{{ text }}</p></bdi>
    </body>
</html>