<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/app/assets/css/default.css" type="text/css">
        <link rel="stylesheet" href="theke:/app/assets/css/bible.css" type="text/css">

        <title>{{ ref.bookName }} {{ ref.chapter }}</title>

        <style>
            .content-col {width: {{ 100//documents|length - 5 }}%}
        </style>
    </head>

    <body>
        <h1>{{ ref.bookName }} {{ ref.chapter }}</h1>

        <div id="content">

        <div class='content-row'>
        {% for doc in documents %}
            <h2 class='content-col'>{{ doc.source }}</h2>
        {% endfor %}
        </div>

        {% for verse in zip(*verses) %}
        {% set outer_loop = loop %}
        <div id="verse-{{ outer_loop.index }}" class="content-row">
        {% for v in verse %}
            <div class="content-col" source="{{ documents[loop.index0].source }}">
            <bdi lang="{{ documents[loop.index0].lang }}">
                <p><sup>{{ outer_loop.index }}</sup>{{ v }}</p>
            </bdi></div>
        {% endfor %}
        </div>
        {% endfor %}
        </div>

        <script src="theke:/app/assets/bible.js"></script>
    </body>
</html>