<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/default.css" type="text/css">
        <link rel="stylesheet" href="theke:/bible.css" type="text/css">

        <title>{{ ref.bookName }} {{ ref.chapter }}</title>
    </head>
    <body>
        <h1>{{ ref.bookName }} {{ ref.chapter }}</h1>

        <bdi id="content" lang="{{ lang }}">
        {% for verse in verses %}
        {% if loop.index == ref.verse %}
        <p class="em"><sup>{{ loop.index }}</sup>{{ verse }}</p>
        {% else%}
        <p><sup>{{ loop.index }}</sup>{{ verse }}</p>
        {% endif%}
        {% endfor %}
        </bdi>

        <script>
        function handle_click_on_word(evt) {
            try {
              r = "sword:/signal/morph/" + evt.target.getAttributeNode("morph").value.replace(/\//g, '_');
              fetch(r);
            }
            catch(err) {}
        }

        document.getElementById("content").addEventListener('click', handle_click_on_word);
        </script>
    </body>
</html>