<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/app/assets/default.css" type="text/css">
        <link rel="stylesheet" href="theke:/app/assets/book.css" type="text/css">

        <title>{{ ref.documentName }}</title>
    </head>
    <body>
        <h1>{{ ref.documentName }}</h1>
        <p>{{ mod_description }}</p>
        {{ text }}
    </body>
</html>