<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/app/assets/css/default.css" type="text/css">
        
        <title>Documents externes</title>
    </head>
    
    <body>
        <header>
            <img src="theke:/app/assets/img/theke-logo.svg" alt="logo" />
            <h1>
                Documents externes
                <small>Liste des documents externes accessibles depuis Theke.</small>
            </h1>
        </header>

        <p>Theke est capable d'indexer et d'afficher des documents seulement accessibles par internet. Pour en savoir plus, consultez l'<a href="theke:/app/help#externalDocuments">aide</a>.</p>
        
        <h2>Documents externes indexés.</h2>
        {% if ExternalDocs %}
        <p>Liste des documents externes accessibles depuis Theke avec une connexion internet.</p>            
        <ul>
            {% for doc in ExternalDocs|sort(attribute="name") %}
            <li><a href="theke:/doc/book/{{ doc.name }}">{{ doc.name }}</a> (<a href="{{ doc.uri }}">🌐️</a>).</li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="center">⚠️ <em>Aucun document externe n'est indexé.</em> ⚠️</p>
        <p>Vous trouverez dans l'<a href="theke:/app/help#externalDocuments">aide</a> quelques indications sur l'ajout de documents externes.</p>
        {% endif %}
    </body>
</html>