<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="Refresh" content="1; url='{{ uri }}'" />
        <link rel="stylesheet" href="theke:/app/assets/css/default.css" type="text/css">

        <title>{{ ref.documentName }}</title>
    </head>
    <body>
        <h1>{{ ref.documentName }}</h1>
        <p class="center"><img src="theke:/app/assets/img/loading.gif" /><p>
        <p class="center">Document externe en cours de chargement.</p>
        <p class="center">Si rien ne s'est passé d'ici quelques secondes, cliquez sur ce <a href="{{ uri }}">lien</a>.</p>
    </body>
</html>