<h3>???</h3>
<ul>
    <li><em>Améliorations pour les livres bibliques.</em>
        <ul>
            <li>Lorsque plusieurs sources sont choisies, le numéro de verset n'est affiché qu'une seule fois.</li>
            <li>Le verset survolé par le curseur est mis en évidence. C'est par exemple utile pour comparer plusieurs traductions.</li>
        </ul>
    </li>
    <li><em>Améliorations cachées.</em>
        <ul>
            <li>L'indexation des documents a été revue pour ...
                <ul>
                    <li>... séparer livres bibliques ;</li>
                    <li>... la rendre compatible avec les versions de sqlite inférieures à la version 3.24.</li>
                </ul></li>
        </ul>
    </li>
    <li><em>Chasse aux bugs.</em>
        <ul>
            <li>Cliquer sur un résultat de recherche ne remet plus les sources choisies à zéro.</li>
            <li>La base de données ne pouvait pas être créée lors du premier lancement de Theke. (merci @cibvia)</li>
            <li>Depuis la GotoBar, un livre biblique est ouvert par défaut à son premier chapitre, à moins qu'un autre numéro soit demandé par l'utilisateur. (PR #6 de @cibvia)</li>
            <li>L'ultime verset d'un livre biblique est affiché correctement lorsque la source MorphGNT est combinée avec une autre. (Issue #4.)</li>
        </ul>
    </li>
</ul>

<h3>1er septembre 2021 − 🌐️ [v0.1] Toujours plus de contenu</h3>
<p>Theke est capable d'ouvrir et d'afficher tous les modules sword. Malheureusement, il n'existe pas encore beaucoup de modules pour les documents de la Tradition et de l'enseignement de l'Église catholique. Ces documents existent pourtant au format numérique et beaucoup sont accessibles sur le site du Vatican, ou ailleurs.</p>
<p>Pour palier à cette carences, nous sommes heureux de pouvoir vous présenter une nouvelle fonctionnalité de Theke : <strong>les documents externes</strong>.</p> Grâce à celle-ci, un document accessible en ligne peut désormais être ajouté à l'index de Theke pour pouvoir être consulté à l'intérieur de l'application.

<ul>
    <li><em>Documents externes.</em> Le système de documents externes vous donne accès aux documents qui existent en ligne mais pas encore sous la forme d'un module sword.
        <ul>
            <li>Ajout d'une section à l'<a href="theke:/app/help#externalDocuments">aide</a> à propos des documents externes.</li>
            <li>Ajout d'une <a href="theke:/app/external_documents">page</a> listant l'ensemble des documents externes.</li>
        </ul>
    </li>
</ul>

<h3>7 août 2021 − 👀️ Vue double</h3>
<p>Vous lisez certainement le grec ou l'hébreu couramment, mais il est parfois utile d'avoir en parallèle une traduction. C'est désormais chose possible ! Lorsque plusieurs version d'un texte sont disponibles, une nouvelle barre d'outils permet de choisir celles que l'on souhaite afficher.</p>
<ul>
    <li><em>Concordance.</em> L'outil de concordance est attentif à la version du document dans laquelle vous avez sélectionné un mot. La recherche se fait dans cette version du texte.</li>
    <li><em>Table des matières.</em>
        <ul>
            <li>La table des matières profite des améliorations cachées (voir ci-dessous) et devient plus robuste.</li>
            <li>Un bouton a été ajouté pour réduire la table des matières.</li>
        </ul>
    </li>
    <li><em>Vue parallèle.</em> Vous lisez certainement le grec ou l'hébreu couramment, mais il est parfois utile d'avoir en parallèle une traduction. C'est désormais chose possible !</li>
    <li><em>Améliorations cachées.</em>
        <ul>
            <li>Encore une fois, beaucoup de travail a été fait sur les rouages internes de l'application. Ce travail de maintenance était nécessaire pour implémenter les nouvelles fonctionnalités de cette version.</li>
        </ul>
    </li>
</ul>

<h3>29 juin 2021 − 📕️ Ouvrez vos dictionnaires</h3>
<ul>
    <li><em>Dictionnaire.</em> Une nouvelle section fait son apparition dans le volet d'outils. Vous pouvez désormais ajouter des notes de traduction pour chacun des mots ayant un code Strongs.</li>
    <li>Lorsque l'on ouvre une référence qui mentionne explicitement un numéro de verset, la vue se centre automatiquement dessus (ex. <a href="theke:/doc/bible/Mark%2010%3A15?sources=MorphGNT">Mc 10, 15</a>).</li>
    <li>La liste des <a href="theke:/app/modules">modules installés</a> inclue maintenant les modules non bibliques.</li>
    <li><em>Améliorations cachées.</em>
        <ul>
            <li>Lorsque Theke est lancé depuis un terminal avec le paramètre "--debug", l'application est un peu plus bavarde. Cet ajout est invisible pour un utilisateur lambda mais bien utile aux beta-testeurs.</li>
            <li>L'indexation des modules SWORD est proprement réalisée et soigneusement enregistrée. Cela va permettre de faire des vérifications pour rendre l'application plus robuste.</li>
        </ul>
    </li>
</ul>

<h3>5 juin 2021 − Une concordance plus Strongs</h3>
<ul>
    <li><em>Analyse des mots.</em>
        <ul>
            <li>Quel est ce nombre en gris qui s'affiche maintenant dans l'en-tête du volet d'analyse du mot sélectionné ? Il s'agit de son <a href="https://en.wikipedia.org/wiki/Strong's_Concordance#Strong's_numbers">code Strongs</a>.</li>
            <li>Un bouton vous permet désormais de réduire le volet d'analyse.</li>
        </ul>
    </li>
    <li><em>Concordance.</em>
        <ul>
            <li>Grâce aux codes Strongs, la fonctionnalité de concordance s'étend à tous les modules bibliques qui les incluent (ex. MorphGNT, OSHB).</li>
            <li>Là aussi, un bouton a été ajouté pour réduire le volet des résultats de recherche.</li>
            <li>Les résultats de recherche sont regroupés par livre biblique.</li>
        </ul>
    </li>
    <li>Ajout d'une page listant les <a href="theke:/app/modules">modules installés</a>.</li>
    <li>Un message d'avertissement est affiché si aucun module biblique n'est installé.</li>
    <li>L'<a href="theke:/app/help#document">aide</a> vous en dit davantage sur l'ouverture des documents.</li>
</ul>

<h3>25 mai 2021 − 🔎️ Concordance 1.0</h3>
<ul>
    <li><em>Concordance.</em> En cliquant sur la petite loupe dans le volet de morphologie, vous pouvez désormais rechercher dans la Bible toutes les occurrences d'un mot. Votre concordance de la TOB va bientôt pouvoir rester au placard ! Cette fonctionnalité est encore limitée aux modules pour lesquels un lemme est associé à chaque mot (ex. MorphGNT). Affaire à suivre ...</li>
    <li><em>Morphologie.</em>
        <ul>
            <li>En hébreu, décorticage de la morphologie des gentilés et des noms communs.</li>
            <li>Comme déjà avec la morphologie et le lemme, le mot observé peut être sélectionné pour être facilement copié.</li>
        </ul>
    </li>
    <li><em>Correction de divers bugs.</em>
        <ul>
            <li>La GotoBar ouvre maintenant les livres dont le titre contient un espace.</li>
        </ul>
    </li>
</ul>

<h3>17 mai 2021</h3>
<ul>
    <li><em>Interface graphique.</em> Refonte totale de la façon dont l'interface graphique est générée. Cette modification est invisible pour l'utilisateur (quoique Theke semble démarrer un peu plus vite). Elle permet par contre d'avoir un code beaucoup plus propre.</li>
    <li><em>Morphologie.</em> Le volet morphologique a bien grandi !
        <ul>
            <li>Un nouveau bouton a fait son apparition : la fonction recherche serait-elle sur le point d'être implémentée ?</li>
            <li>Affichage du mot sélectionné et son lemme (s'il est disponible).</li>
            <li>Masquage du volet lorsqu'il est inutile.</li>
            <li>La morphologie brute et le lemme sont rendus sélectionnables pour être facilement copiée. Vous trouverez l'<a href="theke:/app/help#morphologie">aide</a> fournit des informations utiles pour décoder ces étranges codes.</li>
        </ul>
    </li>
    <li>Les pages web externes sont ajoutées à la barre d'historique.</li>
</ul>

<h3>11 mai 2021</h3>
<ul>
    <li>La page d'accueil est revue et le petit bazar est déplacé dans <a href="theke:/app/test">une zone de test</a>.</li>
    <li>Ajout d'une page d'<a href="theke:/app/help">aide</a>.</li>
</ul>

<h3>9 mai 2021</h3>
<ul>
    <li><em>Morphologie.</em> Ajout d'un volet affichant l'analyse morphologique du mot sélectionné, si elle est disponible.</li>
</ul>