<h3>5 juin 2021 − Une concordance plus Strongs</h3>
<ul>
    <li><em>Analyse des mots.</em>
        <ul>
            <li>Quel est ce nombre en gris qui s'affiche maintenant dans l'en-tête du volet d'analyse du mot sélectionné ? Il s'agit de son <a href="https://en.wikipedia.org/wiki/Strong's_Concordance#Strong's_numbers">code Strongs</a>.</li>
            <li>Un bouton vous permet désormais de réduire le volet d'analyse.</li>
        </ul>
    </li>
    <li><em>Concordance.</em>
        <ul>
            <li>Grâce aux codes Strongs, la fonctionnalité de concordance s'étend à tous les modules bibliques qui les incluent (ex. MorphGNT, OSHB).</li>
            <li>Là aussi, un bouton a été ajouté pour réduire le volet des résultats de recherche.</li>
            <li>Les résultats de recherche sont regroupés par livre biblique.</li>
        </ul>
    </li>
    <li>Ajout d'une page listant les <a href="theke:modules">modules installés</a>.</li>
    <li>Un message d'avertissement est affiché si aucun module biblique n'est installé.</li>
    <li>L'<a href="theke:help#document">aide</a> vous en dit davantage sur l'ouverture des documents.</li>
</ul>

<h3>25 mai 2021 − 🔎️ Concordance 1.0</h3>
<ul>
    <li><em>Concordance.</em> En cliquant sur la petite loupe dans le volet de morphologie, vous pouvez désormais rechercher dans la Bible toutes les occurences d'un mot. Votre concordance de la TOB va bientôt pouvoir rester au placard ! Cette fonctionalité est encore limitée aux modules pour lesquels un lemme est associé à chaque mot (ex. MorphGNT). Affaire à suivre ...</li>
    <li><em>Morphologie.</em>
        <ul>
            <li>En hébreu, décorticage de la morphologie des gentilés et des noms communs.</li>
            <li>Comme déjà avec la morphologie et le lemme, le mot observé peut être sélectionné pour être facilement copié.</li>
        </ul>
    </li>
    <li><em>Correction de divers bugs.</em>
        <ul>
            <li>La GotoBar ouvre maintenant les livres dont le titre contient un espace.</li>
        </ul>
    </li>
</ul>

<h3>17 mai 2021</h3>
<ul>
    <li><em>Interface graphique.</em> Refonte totale de la façon dont l'interface graphique est générée. Cette modification est invisible pour l'utilisateur (quoique Theke semble démarrer un peu plus vite). Elle permet par contre d'avoir un code beaucoup plus propre.</li>
    <li><em>Morphologie.</em> Le volet morphologique a bien grandi !
        <ul>
            <li>Un nouveau bouton a fait son apparition : la fonction recherche serait-elle sur le point d'être implémentée ?</li>
            <li>Affichage du mot sélectionné et son lemme (s'il est disponible).</li>
            <li>Masquage du volet lorsqu'il est inutile.</li>
            <li>La morphologie brute et le lemme sont rendus sélectionnables pour être facilement copiée. Vous trouverez l'<a href="theke:help#morphologie">aide</a> fournit des informations utiles pour décoder ces étranges codes.</li>
        </ul>
    </li>
    <li>Les pages web externes sont ajoutées à la barre d'historique.</li>
</ul>

<h3>11 mai 2021</h3>
<ul>
    <li>La page d'accueil est revue et le petit bazar est déplacé dans <a href="theke:test">une zone de test</a>.</li>
    <li>Ajout d'une page d'<a href="theke:help">aide</a>.</li>
</ul>

<h3>9 mai 2021</h3>
<ul>
    <li><em>Morphologie.</em> Ajout d'un volet affichant l'analyse morphologique du mot sélectionné, si elle est disponible.</li>
</ul>