<h3>17 mai 2021</h3>
<ul>
    <li><em>Interface graphique.</em> Refonte totale de la façon dont l'interface graphique est générée. Cette modification est invisible pour l'utilisateur (quoique Theke semble démarrer un peu plus vite). Elle permet par contre d'avoir un code beaucoup plus propre.</li>
    <li><em>Morphologie.</em> Le volet morphologique a bien grandi !
        <ul>
            <li>Un nouveau bouton a fait son apparition : la fonction recherche serait-elle sur le point d'être implémentée ?</li>
            <li>Affichage du mot sélectionné et son lemme (s'il est disponible).</li>
            <li>Masquage du volet lorsqu'il est inutile.</li>
            <li>La morphologie brute et le lemme sont rendus sélectionnables pour être facilement copiée. Vous trouverez l'<a href="theke:help#morphologie">aide</a> fournit des informations utiles pour décoder ces étranges codes.</li>
        </ul>
    </li>
    <li>Les pages web externes sont ajoutées à la barre d'historique.</li>
</ul>

<h3>11 mai 2021</h3>
<ul>
    <li>La page d'accueil est revue et le petit bazar est déplacé dans <a href="theke:test">une zone de test</a>.</li>
    <li>Ajout d'une page d'<a href="theke:help">aide</a>.</li>
</ul>

<h3>9 mai 2021</h3>
<ul>
    <li><em>Morphologie.</em> Ajout d'un volet affichant l'analyse morphologique du mot sélectionné, si elle est disponible.</li>
</ul>