<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/default.css" type="text/css">
        
        <title>Modules</title>
    </head>
    
    <body>
        <header>
            <img src="theke:/theke-logo.svg" alt="logo" />
            <h1>
                Modules
                <small>Liste des modules accessibles depuis Theke.</small>
            </h1>
        </header>

        <p>Theke fonctionne à partir de <em>modules</em>. Chaque module peut contenir une version de la bible, un dictionnaire, ou encore un ouvrage. Pour plus de détails et pour apprendre comment installer de nouveaux modules, nous vous invitons à consulter l'<a href="theke:help#modules">aide</a>.</p>
        
        <h2>Modules installés</h2>
        {% if BibleMods %}
        <h3>Modules bibliques</h3>
        <p>Tableau des modules bibliques installés sur votre ordinateur et qui sont accessibles depuis Theke.</p>
        
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
            
            {% for mod in BibleMods %}
            <tr>
                <td>{{ mod.name }}</td>
                <td>{{ mod.description }}.</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="center">⚠️ <em>Aucun module biblique n'est installé.</em> ⚠️</p>
        <p>Vous trouverez dans l'<a href="theke:help#modules">aide</a> quelques indications sur l'installation des modules.</p>
        {% endif %}

        {% if BookMods %}
        <h3>Autres modules</h3>
        <p>Tableau des autres modules installés sur votre ordinateur et qui sont accessibles depuis Theke.</p>
        
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
            
            {% for mod in BookMods %}
            <tr>
                <td>{{ mod.name }}</td>
                <td>{{ mod.description }}.</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </body>
</html>