<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/app/assets/css/default.css" type="text/css">
        
        <title>Bienvenue !</title>
    </head>
    
    <body>
        <header>
            <img src="theke:/app/assets/img/theke-logo.svg" alt="logo" />
            <h1>
                Theke
                <small>Lire et étudier la Bible et l'enseignement de l'Église.</small>
            </h1>
        </header>

        <p><a href="theke:/app/help">Aide</a> − <a href="theke:/app/about">À propos de Theke</a> − <a href="theke:/app/test">Test</a></p>

         {% if not BibleMods %}
         <p class="warning">Vous n'avez aucun module biblique. Vous trouverez dans l'<a href="theke:/app/help#modules">aide</a> des indications pour en installer.</p>
         {% else %}        
        <h2>Accès rapide.</h2>
        <ul>
            <li><a href="theke:/app/external_documents">Liste</a> des documents externes.</li>
            <li>Séminaire Hébreu. (texte grec)
            <ul>
                <li><a href="theke:/doc/bible/Hebrews%201?sources=MorphGNT">He 1</a></li>
            </ul></li>
            <li>Séminaire Isaïe. (texte hébreu)
            <ul>
                <li><a href="theke:/doc/bible/Isaiah%2052?sources=OSHB">Is 52, 13 − 53, 12</a></li>
                <li><a href="theke:/doc/bible/Isaiah%2056?sources=OSHB">Is 56</a></li>
                <li><a href="theke:/doc/bible/Isaiah%2022?sources=OSHB">Is 22</a></li>
                <li><a href="theke:/doc/bible/Isaiah%2061?sources=OSHB">Is 61, 1 − 62, 12</a></li>
            </ul></li>
        </ul>

        {% endif %}

        <hr/>

        <div id="logbook">
        <h2>Dernières fonctionnalités.</h2>
        {% include 'logbook.html' %}
        </div>
    </body>
</html>