<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="theke:/default.css" type="text/css">
        
        <title>Bienvenue !</title>
    </head>
    
    <body>
        <h1>Theke</h1>
        <h2>Lire et étudier la Bible et l'enseignement de l'Église.</h2>
        <p>
            <ul>
                <li><a href="theke:about">À propos.</a></li>
                <li><a href="sword:/bible/John%201%3A1?source=MorphGNT">Jn 1, 1</a></li>
                <li><a href="sword:/book/VeritatisSplendor">Veritatis Splendor</a>
                    <ul>
                        <li><a href="sword:/book/VeritatisSplendor/1">Veritatis Splendor, §1</a></li>
                        <li><a href="sword:/book/VeritatisSplendor/7">Veritatis Splendor, §7</a></li>
                        <li><a href="sword:/book/VeritatisSplendor/42">Veritatis Splendor, §42</a></li>
                    </ul>
                </li>
            </ul>
        </p>

        <h2>Modules SWORD</h2>
        <h3>Bibles</h3>
        <dl>
        {% for mod in BibleMods %}
            <dt>− <strong>{{ mod.name }}</strong></dt>
            <dd>{{ mod.description }}</dd>
        {% endfor %}
        </dl>
    </body>
</html>